* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    /* background-color: aqua; */
    border-bottom: 2px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


.logo {
    width: 200px;
    height: 100px;
    padding: 20px;

}
 img {
    width: 100%;
}


input {
    padding: 20px;
    /* width: 100%; */
    border-radius: 15px;
    /* padding-inline: 30px; */
    /* text-align: center; */
    font-size: 24px;
}

input::placeholder {
    font-size: 24px;
}

.instructions {
    margin-top: 100px;
    line-height: 56px;
    /* padding-inline: 40px; */
}
.instructions ul li {
    font-size: 24px;
}

/* ----------------------------------next page---------------------- */
.btn-function {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-in {
    padding: 17px 45px;
    border-radius: 10px;
    margin: 10px;
    border: 0;
    background-color: rgb(72, 218, 43);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(71, 201, 11) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
 .btn-in:hover {
    box-shadow: rgb(10, 163, 23) 0px 7px 0px 0px;
  }
  
  .btn-in:active {
    background-color: rgb(78, 161, 62);
    /*50, 168, 80*/
    box-shadow: rgb(84, 224, 131) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }
  
.btn-out {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    background-color: rgb(226, 51, 28);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(204, 7, 7) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
 .btn-out:hover {
    box-shadow: rgb(228, 80, 80) 0px 7px 0px 0px;
  }
  
  .btn-out:active {
    background-color: rgb(219, 46, 55);
    /*50, 168, 80*/
    box-shadow: rgb(219, 52, 52) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }
  

